.plan-main-container {
    padding: 3%;
    min-height: 100vh;
}

.plan-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Ubuntu Mono;
    text-align: center;
    color: #020c44;
}

.plan-text {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: rgb(1, 1, 92);
}

.plan-list-table {
    margin-left: 15%;
    margin-right: 15%;
    width: 80%;
}