.event-filter-main {
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-filter-section-header {
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-filter-section-header-icon {
    font-size: 28px;
}

.event-filter-checkbox {
    font-size: 17px;
}

.event-filter-checkbox input[type=checkbox]
{
    -ms-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    margin: 10px;
}