.blog-details-main-container {
    padding: 2%;
    min-height: 100vh;
}

.blog-details-not-found {
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: Ubuntu Mono;
    color: rgb(1, 1, 83);
}

.blog-details-image-carousel {
    width: 100%;
    height: 350px;
    cursor: pointer;
}

.blog-details-title {
    font-family: "Patrick Hand";
    color: rgb(26, 3, 82);
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 15px;
}

.blog-details-description-container {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.blog-details-category {
    line-height: 45px;
    text-align: center;
    margin-bottom: 25px;
}

.event-details-category {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(219, 211, 211);
    font-size: 16px;
    font-weight: bold;
    color: #030242;
}