.travelagency-card-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* box-shadow: -10px 10px 10px -10px rgba(6, 2, 43, 0.2); */
    box-sizing: border-box;
    box-shadow: 0px 6px 8px 1px rgba(6,2,43,0.2);
    margin-bottom: 30px;
    margin-right: 20px;
}

.travelagency-card-main:hover {
    text-decoration: none;
}

.travelagency-card-main:hover .travelagency-card-middle .travelagency-card-title {
    text-decoration: underline;
}

.travelagency-card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
}

.travelagency-card-middle {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.travelagency-card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(1, 32, 78);
}

.travelagency-card-description {
    color: rgb(48, 8, 8);
    font-style: italic;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}